.sprite {
   .frame-0 {
        background-position: -0px 0px;
    }
   .frame-1 {
        background-position: -129px 0px;
    }
   .frame-2 {
        background-position: -258px 0px;
    }
}